<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>School Website - Course Listing Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>

</head>
<body>

    <div th:replace="fragments/header :: header">
    </div>

    <div class="container">

        <h1>Course Listing</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Course Name</th>
                <th>Course Description</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courses}">
                <td th:text="${course.courseName}">Sample Course</td>
                <td th:text="${course.courseDescription}">Description of Sample Course</td>
                <td><a href="#" data-th-href="@{'/course/edit/'+${course.id}}">edit</a></td>
                <td><a href="#" data-th-href="@{'/course/delete/'+${course.id}}">delete</a></td>
            </tr>
            </tbody>
        </table>


        <h1>Create a New Course</h1>
        <form role="form" th:action="@{/course/save}" th:object="${course}" method="post">
            <div class="form-group">
                <label for="courseName">Course Name:</label>
                <input type="text" class="form-control" id="courseName" name="courseName" required="required"/>
            </div>
            <div class="form-group">
                <label for="courseDescription">Course Description:</label>
                <textarea id="courseDescription" class="form-control" name="courseDescription" required="required"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Create</button>
        </form>

    </div>

</body>
</html>