<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <title>School Website = Welcome Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>

    <script>
        $( document ).ready(function() {
            $('.container .alert').fadeOut(2000);
        });
    </script>

</head>
<body>

    <div th:replace="fragments/header :: header">
    </div>

    <div class="container">

        <div th:if="${success != null}" class="alert alert-success">
            <strong>Success!</strong>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <p>From the menu above select what you would like to administer.</p>
        </div>
        <div sec:authorize="hasRole('ROLE_STUDENT')">
            <p>From the menu above please select which courses you would like to enroll in.</p>

            <h2>Currently enrolled in:</h2>
            <ul>
                <li th:each="course : ${student.courses}" th:text="${course.courseName}">Sample Course Name</li>
            </ul>

            <h2>Change Password</h2>
            <form role="form" th:action="@{/student/password}" th:object="${student}" method="post">
                <input type="hidden" name="id" th:field="*{id}" />
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required="required" />
                </div>
                <button type="submit" class="btn btn-default">Change Password</button>
            </form>

        </div>

    </div>

</body>
</html>
